.head {
  display: block;
  width: 95%;
  max-height: 150px;
  border-style: dashed;
  margin: 2.5%;
}

.wheelspace {
  display: block;
  width: 95%;
  border-style: double;
  min-height: 400px;
  width: 1200px;
  max-height: 600px;
  margin-right: auto;
  margin-left: 2.5%;
}

.tail {
  display: block;
  width: 95%;
  min-height: 100px;
  border-style: dashed;
  margin: 2.5%;
}

h1 {
  margin-left: 1em;
}

button {
  margin: 2em;
  margin-left: 4em;
}

p {
  margin: 2em;
}
